<!-- Ce fichier sert à afficher un court résumé de l'animation courante. -->

<div class="ui segments">
	<div class="ui clearing segment mini-padding">
		<div class="ui left floated header">
            <h2 class="header">{{anim.titre}}{% if pertinence %}<a class="ui blue basic left pointing label">Pertinence : {{pertinence}}</a>{% endif %}</h2>
			<h4 class="sub header">{{anim.auteurs}}</h4>
		</div>
		<div class="ui right floated header">
			{% for tag in tags %}
				{% if tag.reference=='ref.thematiques' or tag.reference=='ref.lieux' or tag.reference=='ref.saison' %}
				<i class="ui icon tooltip">
					<img class="ui mini image" src="/static/ressources/{{tag.label}}.png">
					<span class="tooltiptext">{{tag.label}}</span>
				</i>
				{% endif %}
			{% endfor %}

			{% if anim.statut==3 %}
				<i class="spinner icon color red tooltip"><span class="tooltiptext">En cours d'écriture</span></i>
			{% elif anim.statut==2 %}
				<i class="check circle icon color yellow tooltip"><span class="tooltiptext">Terminée</span></i>
			{% elif anim.statut==1 %}
				<i class="check circle icon color green tooltip"><span class="tooltiptext">Validée</span></i>
			{% endif %}
			
			{% if g.user.is_admin or anim.auteurs==g.user.name %}
			<a href="/pedatheque_edit?q={{anim.id}}" class="ui icon"><i class="edit icon color pink tooltip"><span class="tooltiptext">Éditer l'animation</span></i></a>
			{% endif %}
		</div>
	</div>
	<div class="ui horizontal segments">
		<div class="ui segment fifty-width text-display">
			<p><b>Objectifs :</b></p>
			{{anim.objectifs|md|safe}}
		</div>
		<div class="ui segment fifty-width text-display">
			<p><b>Description :</b></p>
			{{anim.description|md|safe}}
		</div>
	</div>
	<div class="ui horizontal segments">
		<div class="ui segment fifty-width">
			<h4>
				{% if anim.date_modif %}
				<div><small class="left floated">Dernière modification le {{anim.date_modif|date_format}}</small></div>
				{% endif %}
			</h4>
			<a href="/pedatheque/{{anim.id}}" class="ui aligned primary button">Consulter</a>
		</div>
		<div class="ui segment fifty-width">
			<p><b>Niveaux :</b></p>

			{% set count = namespace(value=0) %}

			{% for tag in tags %}
				{% if tag.reference=='ref.public' %}
				{% set count.value = count.value + 1 %}
				<div class="ui checkbox mini-right-margin">
					<p><i class="check icon"></i>{{tag.label}}</p>
				</div>
				{% endif %}
			{% endfor %}

			{% if count.value == 0 %}
			<div class="ui checkbox">
				<p><i class="check icon"></i>Tout niveau</p>
			</div>
			{% endif %}
		</div>
	</div>
	
</div>
