<!-- Ce fichier sert à afficher le média courant. -->

<div class="ui horizontal segments">
	<div class="ui segment five-width">
		{% if media.fk_type_mat.code=='image' %}
		<i class="image icon tooltip"><span class="tooltiptext">Image</span></i>
		{% elif media.fk_type_mat.code=='photo' %}
		<i class="camera icon tooltip"><span class="tooltiptext">Photo</span></i>
		{% elif media.fk_type_mat.code=='video' %}
		<i class="video icon tooltip"><span class="tooltiptext">Vidéo</span></i>
		{% elif media.fk_type_mat.code=='bandeson' %}
		<i class="volume up icon tooltip"><span class="tooltiptext">Bande-son</span></i>
		{% elif media.fk_type_mat.code=='support' %}
		<i class="file icon tooltip"><span class="tooltiptext">Fichier</span></i>
		{% elif media.fk_type_mat.code=='conte' %}
		<i class="book icon tooltip"><span class="tooltiptext">Conte</span></i>
		{% endif %}
	</div>
	<div class="ui segment twenty-width">
		<p>{{media.nom|md|safe}}</p>
	</div>
	<div class="ui segment thirty-width">
		<p>{{media.description|md|safe}}</p>
	</div>
	<div class="ui segment ten-width">
        <button class="ui primary button" onclick="javascript: openmodal('{{media.url}}', '{{media.fk_type_mat.code}}', '{{media.nom}}')" >Aperçu</button>
	</div>
	<div class="ui segment five-width">
		<a href="/mediatheque/{{media.id}}"><i class="download icon"></i></a>
	</div>
	{% if g.user.is_admin %}
	<div class="ui segment five-width">
		<a href="/mediatheque/{{media.id}}/edit" class="ui right floated icon"><i class="edit icon color pink"></i></a>
	</div>
	<div class="ui segment five-width">
		<a href="/mediatheque/{{media.id}}/delete" class="ui right floated icon"><i class="trash icon"></i></a>
	</div>
	{% endif %}
	<div class="ui segment ten-width">
	{% for theme in media.thematiques %}
		<i class="ui icon tooltip">
			<img class="ui mini image" src="/static/ressources/{{theme.label}}.png">
			<span class="tooltiptext">{{theme.label}}</span>
		</i>
	{% endfor %}
	</div>
	{% if pertinence %}
	<div class="ui segment ten-width">
        <a class="ui blue label">Pertinence : {{pertinence}}</a>
	</div>
	{% endif %}
</div>
<script>
function openmodal(url, codeType, nom) {
    //$('#{{media.id}}').modal('show');
    let modalWdw = document.getElementById('the_modal');

    modalWdw.innerHTML = '<h1>' + nom + '</h1>';

    if (codeType == 'image' || codeType == 'photo' || codeType == 'support' || codeType == 'conte'){
        modalWdw.innerHTML += '<embed src="/'+url+'" class="big-embed"></embed>';
    } else if (codeType == 'video') {
        modalWdw.innerHTML += '<video controls class="big-embed"><source src="/'+url+'">Votre navigateur ne supporte pas cette extension</video>';

    } else if (codeType == 'bandeson') {
        modalWdw.innerHTML += '<audio controls class="big-embed"><source src="/'+url+'">Votre navigateur ne supporte pas cette extension</audio>';

    }

    $('#the_modal').modal('show');
}
</script>
