<!-- Ce fichier sert à afficher les tags à cocher pour la recherche correspondante. -->

{% extends 'search_form_layout.htm' %}

{% block tags %}
<form method="get" action="/{{action}}/results" class="big-bottom-margin">
  <div class="ui indicating progress" id="precision" data-total="4">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">Pertinence</div>
  </div>
  <div class="ui icon buttons">
    <div class="decrement ui basic red button icon"><i class="minus icon"></i></div>
    <div class="increment ui basic green button icon" onclick=""><i class="plus icon"></i></div>
  </div>
  <input type="hidden" name="precision" id="pertinence" value="100">
  <div class="ui hidden divider"></div>
  <div class="mini-bottom-margin">
    {% for key in tags %}
    <div class="ui accordion">
      <div class="title active">
        <i class="dropdown icon"></i>
        {{key.label}} :
      </div>
      <div class="content">
      {% for item in tags[key] %}
          <div class="ui checkbox mini-right-margin">
            <input type="checkbox" value="{{item.id}}" name="{{key.nom}}" id="{{item.id}}">
            <label for="{{item.id}}">{{item.nom}}</label>
          </div>
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  <button class="ui right floated primary button" type="submit">Suivant</button>
</form>

{% if action=='pedatheque' %}
<form method="get" action="/pedatheque/results">
  <p><b>Recherche par auteur :</b></p>
  <div class="ui input">
    <div class="ui search">
      <input class="prompt" type="text" name="auteur" id="auteur" placeholder="Auteur ...">
      <div class="results"></div>
    </div>
    <button type="submit" class="ui button">Rechercher</button>
  </div>
</form>

<script defer>
$('.ui.search')
  .search({
    apiSettings: {
      url: '/pedatheque/get_users?q={query}'
    },
    fields: {
      results: 'items',
      title   : 'title'
    },
    minCharacters : 3
  })
;
</script>
{% endif %}

<script defer>
  $('.ui.accordion')
  .accordion();
  $('#precision')
  .progress('set progress', 100)

  $('#pertinence')[0].value = 100

  $('.red.button')[0].addEventListener('click', function(event) {
    $('#precision').progress('decrement'); 
    setTimeout(function() {$('#pertinence')[0].value = $('#precision')[0].attributes[3].value;},200);
  });

  $('.green.button')[0].addEventListener('click', function(event) {
    $('#precision').progress('increment'); 
    setTimeout(function() {$('#pertinence')[0].value = $('#precision')[0].attributes[3].value;},200);
  })
</script>
{% endblock %}