<!-- Ce fichier sert à afficher les tags à cocher pour la recherche correspondante. -->

{% extends 'search_form_layout.htm' %}

{% block tags %}
<form method="get" action="/{{action}}/results" class="big-bottom-margin">
  <div class="mini-bottom-margin">
    {% for key in tags %}
    <div class="ui segment">
      <h5 class="title">
        {{key.label}} :
      </h5>
      <div class="content">
      {% for item in tags[key] %}
          <div class="ui checkbox mini-right-margin">
            <input type="checkbox" value="{{item.id}}" name="{{key.code}}" id="{{item.id}}">
            <label for="{{item.id}}">{{item.label}}</label>
          </div>
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  <button class="ui right floated primary button" type="submit">Suivant</button>
</form>

{% if action=='pedatheque' %}
<form method="get" action="/pedatheque/results">
  <p><b>Recherche par auteur :</b></p>
  <div class="ui input">
    <div class="ui search">
      <input class="prompt" type="text" name="auteur" id="auteur" placeholder="Auteur ...">
      <div class="results"></div>
    </div>
    <button type="submit" class="ui button">Rechercher</button>
  </div>
</form>

<script defer>
$('.ui.search')
  .search({
    apiSettings: {
      url: '/pedatheque/get_users?q={query}'
    },
    fields: {
      results: 'items',
      title   : 'title'
    },
    minCharacters : 3
  })
;
</script>
{% endif %}

<script defer>
  $('.ui.accordion').accordion('refresh');
</script>
{% endblock %}
